<!-- Row -->
<div class="row">
    <div class="col-12 m-t-30">
        <h4 class="m-b-0">Asignaciones Pendientes:</h4>
        <p class="text-muted m-t-0 font-12">Aqui estan todas las requicisiones que fueron solicitadas.</p>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse bg-danger" style="background-color: #333; border-color: #333;">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Requerimiento Numero: 001</h4></div>
            <div class="card-body">
                <h3 class="card-title">Reparacion: Hardware</h3>
                <p class="card-text text-white">Formateo y Cambio del Sistema de Equipo</p>
                <a href="#" class="btn btn-success">Ir a Requerimiento</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Requerimiento Numero: 002</h4></div>
            <div class="card-body">
                <h3 class="card-title">Reparacion: Hardware</h3>
                <p class="card-text">Formateo y Cambio del Sistema de Equipo</p>
                <a href="#" class="btn btn-primary">Ir a Requerimiento</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Requerimiento Numero: 003</h4></div>
            <div class="card-body">
                <h3 class="card-title">Reparacion: Software</h3>
                <p class="card-text">Formateo y Cambio del Sistema de Equipo</p>
                <a href="#" class="btn btn-primary">Ir a Requerimiento</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Requerimiento Numero: 004</h4></div>
            <div class="card-body">
                <h3 class="card-title">Reparacion: Software</h3>
                <p class="card-text">Formateo y Cambio del Sistema de Equipo</p>
                <a href="#" class="btn btn-primary">Ir a Requerimiento</a>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

